body{
    background-image: url('https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png');
    object-fit:initial ;
  }
  
  #title{
    margin: auto;
    text-align: center;
  }
  
  .wrapper{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
  }
  
  input {
    width: 400px;
  }
  
  .profile-bar{
    position: relative;
    width: 350px;
    /* margin: auto; */
    /* text-align: center; */
  }
  
  #character-image{
    height: 300px;
    width: 300px;
  }
  
  .div-box-for-float{
    display: flex;
  }
  
  .profile-bar{
    /* display:flex; */
    flex: 1;
    border:1px solid black;
    text-align: center;
  }
  
  .name-div{
    display:flex;
    /* flex: 1; */
    align-items:baseline;
    text-align: center;
    vertical-align: middle;
    text-align: center;
  } 
  
  
  .house-div{
    display:flex;
    /* flex: 1; */
    align-items:baseline;
    text-align: left;
    vertical-align: middle;
    text-align: center;
  }
  
  .search-result{
    flex: 1;
    align-items: center;
    border:1px solid black;
    /* text-align: center; */
    list-style-position: inside;
  }
  
  .container-for-selections{
    flex: 1;
    border:1px solid black;
  }
  
  #search-header{
    text-align: center;
    color: black;
  }
  
  #selected-class-header{
    text-align: center;
  }
  
  #search-result-list{
    font-size: 30px;
    /* background-color: lightgrey; */
  }

  #clearList {
    margin: 0;
    position: absolute;
    top: 180px;;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }